{%load crispy_forms_tags%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="Lg98OY_2k577FrWYWd8ZtsVaucUhq4gZx9l0JIfmFtA" />
    <title>{% block head_title %}Web | El Directorio de México {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'imagenes/favicon.ico' %}"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    
     strong
     {
       color:  #eff1f0;
     }
    #btn2
    {
      background-color: rgb(251, 202, 17);
      color:black;
      margin-right: 15px;
      width:155px;
    }
    #item
    {
      width:100%;
    }
    .navbar{
      background-color: #eff1f0;
   /* position: fixed; */
      width: 100%;
    }

    .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
footer {
    background-color: rgb(24, 23, 23);
    color:white;
    position: relative;
    padding-bottom: 20px;
    width: 100%;
		opacity: 0.9;
    font-weight:normal;
    bottom: 0%;
    left: 0;
}
   </style>
    {% block extrastatic %}

    {% endblock %}
</head>
<body>

  <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{%url 'index'%}"><img src="{%static 'imagenes/Dir_mex-02.png'%}" width="208px" height="100px" alt=""></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="false">
        <ul class="navbar-nav mr-auto">
        {% comment %} Espacio de barra {% endcomment %}
        </ul>
        <div class="form-inline my-4 my-lg-0">
          {%if not request.user.is_authenticated%}
          <button id="btn2" type="button" style="margin-right:8px;" class="btn btn my-2 my-sm-0" data-toggle="modal" data-target="#iniciarSesion"> Iniciar sesión</button>
          {%else%}
          
    </div>
      <div class="btn-group">
          <button id="btn2" type="button" class="btn btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"title="Clickea aquí para ver las demás opciones">
              {{request.user.username}}
          </button>
          <div class="dropdown-menu dropdown-menu">
            <a id="item" title="Click aquí para salir de su cuenta" href="{%url 'logout'%}" class="dropdown-item"><i class="fa fa-times-circle"></i>  Salir</a>
            <a id="item" title="Click aquí para registrar una nueva empresa" href="/admin_mx/" class="dropdown-item"><i class="fa fa-plus-circle"></i> Nueva</a>
          </div>
      </div>
      </div>
      
      
        {%endif%}
  </nav>
    
    {%block content%}
    {% if messages %}
    <ul class="messages">{% for message in messages %} <li{% if message.tags == "success" %} class="alert alert-success"{%else%}class="alert alert-danger"{% endif %}>{{ message }}</li>{% endfor %}</ul>
   	{% endif %}
    {%endblock%}
   
  </div>
</div>
{%block footer%}
<footer class="footer text-center">
  <div class="row">
      <div class="col-md-4">
              <br>
              <div class="headline"><h5>Nosotros:</h5></div>
              <!-- <hr style="width:50%;background-color: white;"> -->
              <p>Somos una plataforma</p>
              <p>dedicada a prestar</p>
              <p>espacios publicitarios digitales</p>
              <p>con el fin de darte a conocer</p>
              <p>más a ti, y a tu empresa.</p>   
      </div>
      <div class="col-md-4">
              <br>
              <div class="headline"><h5>Productos:</h5></div>
              <h6>Publicidad</h6>
              <h6>Branding</h6>
              <h6>Marketing</h6>
              <h6>Difusión</h6>
      </div>
      <div class="col-md-4">
              <br>
              <div class="headline"><h5>Redes Sociales:</h5></div>
              <br>
              <br>
              <a href="https://www.facebook.com/pg/eldirectoriodemexico/about/"> <i class="fa fa-facebook fa-w-16 fa-3x"></i></a>
      </div>
  </div>
  <br>

  <div class="container">
      <p class="text-center">
        Copyright &copy; El Directorio de México 2020
      </p>
  </div>

</footer> 
{%endblock%}


<div class="modal fade" id="iniciarSesion">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 title="Click aqui para iniciar sesion" style="text-align: center;" class="modal-title">Iniciar sesión</h4>
        <button  type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
    <div class="modal-body">
         <form role="form" method="POST" action="{%url 'login'%}">
            <div class="form-group">
               {% csrf_token %}
                {{login|crispy}}
            </div>
            <div style="text-align: center;">
              <button id="btn2" type="submit" class="btn btn"><i class="fa fa-check"></i> Continuar</button>
              <br> 
              <br>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>


{%block scripts%}
{%endblock%}

</body>
</html>