{%extends 'base/base.html'%}
{% load staticfiles %}

{%block extrastatic%}

<style>
#llegar{
    background-color: rgb(251, 202, 17);
}
body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
}


#categori{
    color:rgb(39, 117, 148);
}
/* www.proyecto24.org
www.nacionalfinanciera.com.mx */
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
#card{
  border: rgb(251, 202, 17) 5px solid;
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>
 <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
 <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
 <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
 <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />

{%endblock%}



{%block content%}
<div class="loader"></div>
<!-- Page Content -->
<div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <!-- <h5>Tu búsqueda de "{{busqueda}}" tuvo {{contador}} resultados</h5> -->
          <!-- <button class="navbar-toggler-icon" style="background-color:orange" id="menu-toggle"></button> -->
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              
            </ul>
          </div>
        </nav>
        <br>
        <br>
        <br>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                  
                </div>
                <div class="col-md-8">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div{% if message.tags == "success" %} class="alert alert-success"
                      {%else%}
                      class="alert alert-danger"
                      {% endif %}>
                      {{ message }}</div>
                        {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="col-md-2">
                    
                </div>
              </div>	
                    <br>
                    <br>

                     <div class="card" id="card" style="width: 80%;height: 10%; left:10%; right: 10%;">
                        <div class="card-body">
                          <h5 class="card-title">{{empresa.nombre}}</h5>
                          <p class="card-text">{{empresa.calle|upper}} #{{empresa.noext|upper}}, {{empresa.colonia|upper}}, {{empresa.municipio|upper}}, {{empresa.estado|upper}}, C.P.{{empresa.cp}}</p>
                          <p class="card-text"><i class="fa fa-phone"></i> {{empresa.telefono}}</p>
                          <p class="card-text"><i class="fa fa-envelope"></i> {{empresa.email}}</p>
                          <p class="card-text">SERVICIOS: {{empresa.servicios|upper}}</p>
                          <p class="card-text"><i class="fa fa-facebook-square"></i> {{empresa.red_social}}</p>
                          <p id="categori" class="card-text">{{empresa.categoria|upper}}</p>
                          <br>
                        </div>
                        <img src="{{empresa.imagen.url}}" width="100%" height="100%" class="card-img-top" alt="...">
                        
                        <div id="mapid" style="border: 3px solid rgb(10, 2, 114);width: 100%; height: 600px;"></div>
                        <script>
                        // var json_long = JSON.parse('{{ json_long | escapejs }}');
                        // var json_lat = JSON.parse('{{ json_lat | escapejs }}');
                        // console.log(json_lat);
                      
                        mapboxgl.accessToken = 'pk.eyJ1IjoiYW50b25pb3NhbGFpY2VzIiwiYSI6ImNqdXN5a256MjAyZnc0ZG5ybGptcXkxcG4ifQ.H0JQcmfgxKoqkYUrJ9OdAw';
                          
                          // Initialize a map
                          var map = new mapboxgl.Map({
                            container: 'mapid', // container id
                            style: 'mapbox://styles/mapbox/streets-v10', // stylesheet location
                            center: [-108.7957497,25.747628], // starting position
                            zoom: 8 // starting zoom
                          });
                          map.addControl(

                          me = new mapboxgl.GeolocateControl({
                          positionOptions: {
                          enableHighAccuracy: true
                          },
                          trackUserLocation: true
                          })
                          );
                          // Add zoom and rotation controls to the map.
                          map.addControl(new mapboxgl.NavigationControl());

                          AnotherLocation = [me._map.transform._center.lng,me._map.transform._center.lat];
                          


                          // Aqui carga el mapa
                          map.on('load', function() {
                            


                            var marker = new mapboxgl.Marker({
                              draggable: false
                            })
                            .setLngLat([JSON.parse('{{ json_long | escapejs }}'), JSON.parse('{{ json_lat | escapejs }}')])
                            .addTo(map);
                            

                          
                            

                            
                            


                            
                            

                            

                          });
                          // Aquí termina el load del mapa





                            
                          
                        </script>      
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
              <br>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
  
</div>


    <!-- /#wrapper -->
{%endblock%}

{%block scripts%}



{%endblock%}