{%extends 'base/base.html'%}
{% load staticfiles %}

{%block extrastatic%}

<style>
#llegar{
    background-color: rgb(251, 202, 17);
}
body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
}


#categori{
    color:rgb(39, 117, 148);
}
/* www.proyecto24.org
www.nacionalfinanciera.com.mx */
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
#card{
  border: rgb(251, 202, 17) 5px solid;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('static/imagenes/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>
<script type="text/javascript">
    $(document).ready(function($) {

    $(window).on('load',function(){
      $('.loader').fadeOut('slow',function(){$(this).remove();});
    });
    });
  </script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" /> -->

 <!-- <link rel="stylesheet" href="css/leaflet.extra-markers.min.css"> -->
 <!-- <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
 <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
 <script src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script> -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" /> 
 <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
 <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
 <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
 <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  

<!-- <script>
  var jsonLat = JSON.parse('{{ json_lat | escapejs }}');
  var jsonLong = JSON.parse('{{ json_long | escapejs }}');
  
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var uluru = {lat: 25.566203, lng: -108.444560};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 12, center: uluru});
    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var markerme = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'Aquí está usted',
            icon: {
              url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
            }
            });

            // infoWindow.setPosition(pos);
            // infoWindow.setContent('Aquí estás tú');
            // infoWindow.open(map);
            
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

    // The marker, positioned at empresa
    
    var myLatLng = {lat:Number(jsonLat), lng: Number(jsonLong)};
    // The marker, positioned at empresa
    var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Este es el negocio que buscas.'
  });
  map.setCenter(myLatLng);
  }
  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
      </script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDyuasqnP_CsOUVG6mIPPoyRu5oVWLNT4&callback=initMap">
</script> -->


{%endblock%}



{%block content%}
<div class="loader"></div>
<!-- Page Content -->
<div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <!-- <h5>Tu búsqueda de "{{busqueda}}" tuvo {{contador}} resultados</h5> -->
          <!-- <button class="navbar-toggler-icon" style="background-color:orange" id="menu-toggle"></button> -->
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              
            </ul>
          </div>
        </nav>
        <br>
        <br>
        <br>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                  
                </div>
                <div class="col-md-8">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div{% if message.tags == "success" %} class="alert alert-success"
                      {%else%}
                      class="alert alert-danger"
                      {% endif %}>
                      {{ message }}</div>
                        {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="col-md-2">
                    
                </div>
              </div>	
                    <br>
                    <br>

                     <div class="card" id="card" style="width: 80%;height: 10%; left:10%; right: 10%;">
                        <div class="card-body">
                          <h5 class="card-title">{{empresa.nombre}}</h5>
                          <p class="card-text">{{empresa.calle|upper}} #{{empresa.noext|upper}}, {{empresa.colonia|upper}}, {{empresa.municipio|upper}}, {{empresa.estado|upper}}, C.P.{{empresa.cp}}</p>
                          <p class="card-text"><i class="fa fa-phone"></i> {{empresa.telefono}}</p>
                          <p class="card-text"><i class="fa fa-envelope"></i> {{empresa.email}}</p>
                          <p class="card-text">SERVICIOS: {{empresa.servicios|upper}}</p>
                          <p class="card-text"><i class="fa fa-facebook-square"></i> {{empresa.red_social}}</p>
                          <p id="categori" class="card-text">{{empresa.categoria|upper}}</p>
                          <br>
                        </div>
                        <img src="http://localhost:8000/media/{{empresa.imagen}}" width="100%" height="100%" class="card-img-top" alt="...">
                        
                        <div id="mapid" style="border: 3px solid rgb(10, 2, 114);width: 100%; height: 600px;"></div>
                        <script>
                            navigator.geolocation.getCurrentPosition(function(location) {
                                    var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
                                    var lat = location.coords.latitude;
                                    var lon = location.coords.longitude;
                                    var jsonLat = JSON.parse('{{ json_lat | escapejs }}');
                                    var jsonLong = JSON.parse('{{ json_long | escapejs }}');
                                    var latlngE = new L.LatLng(Number(jsonLat), Number(jsonLong));
                                    var map = L.map('mapid').setView(latlng, 15);
                                    L.control.scale().addTo(map);
                                    
                                        // llamado obligatorio al API de mapbox
                                        var OpenStreetMap_France = L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                                                maxZoom: 20,
                                                attribution: '&copy; Openstreetmap France | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                                            }).addTo(map);
                                        // var OpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                                        //         maxZoom: 19,
                                        //         attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
                                        //     }).addTo(map);
                                        // L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYW50b25pb3NhbGFpY2VzIiwiYSI6ImNqdXN5a256MjAyZnc0ZG5ybGptcXkxcG4ifQ.H0JQcmfgxKoqkYUrJ9OdAw', {
                                        //     maxZoom: 18,
                                        //     attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                                        //         '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                                        //         'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                                        //     id: 'mapbox.streets',
                                        //     accessToken: 'pk.eyJ1IjoiYW50b25pb3NhbGFpY2VzIiwiYSI6ImNqdXN5a256MjAyZnc0ZG5ybGptcXkxcG4ifQ.H0JQcmfgxKoqkYUrJ9OdAw'
                                        // }).addTo(map);
                                        
                                        var marker = L.marker(latlng).addTo(map);
                                        var marker2 = L.marker(latlngE).addTo(map);
                                        
                                        marker.bindPopup("<b>!Hola!</b><br>Aquí estás ubicado tú.").openPopup();
                                        marker2.bindPopup("<b>!Hola!</b><br>Aquí está la empresa que buscas.").openPopup();

                                        var control = L.Routing.control({
                                                      waypoints: [
                                                          latlng,
                                                          latlngE
                                                      ],
                                                      routeWhileDragging: true
                                                  }).addTo(map);
                                                
                                        var circle = L.circle(latlng, {
                                            
                                            fillColor: 'blue',
                                            fillOpacity: 0.1,
                                            radius: 500
                                        }).addTo(map);
                            })
                          
                           </script>
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
              <br>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
  
</div>


    <!-- /#wrapper -->
{%endblock%}

{%block scripts%}



{%endblock%}