{%extends 'base/base.html'%}
{% load staticfiles %}

{%block extrastatic%}

<style>
#llegar{
    background-color: rgb(251, 202, 17);
}
body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
}


#categori{
    color:rgb(39, 117, 148);
}
/* www.proyecto24.org
www.nacionalfinanciera.com.mx */
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
#card{
  border: rgb(251, 202, 17) 5px solid;
}
/* .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('static/imagenes/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
} */
</style>
<!-- <script type="text/javascript">
    $(document).ready(function($) {

    $(window).on('load',function(){
      $('.loader').fadeOut('slow',function(){$(this).remove();});
    });
    });
  </script> -->

{%endblock%}


{%block content%}
<div class="loader"></div>
<!-- Page Content -->
<div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              
            </ul>
          </div>
        </nav>
        <br>
        <br>
        <br>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                  
                </div>
                <div class="col-md-8">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div{% if message.tags == "success" %} class="alert alert-success"
                      {%else%}
                      class="alert alert-danger"
                      {% endif %}>
                      {{ message }}</div>
                        {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="col-md-2">
                    
                </div>
              </div>	
                  <!-- Mensaje -->
            <div class="row">
              <div class="col-md-12">
                  <h3 style="text-align: center;">SELECCIONA TU ESTADO</h3>
              </div>
          </div>
          <!-- fin mensaje -->
                  <br>
                  <br>
                    <!-- COL1 -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                  El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Aguascalientes</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=1 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                  El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Baja California</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=2 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                  El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Baja California Sur</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=3 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>

                    </div>
                    <br>
                    <br>
                    <!-- COL2 -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Campeche</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=4 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Chiapas</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=5 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Chihuahua</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=6 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL3 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Coahuila</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=7 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Colima</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=8 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Ciudad de México</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=9 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL4 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Durango</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=10 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Estado de México</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=11 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Guanajuato</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=12 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL5 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Guerrero</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=13 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Jalisco</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=14 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Michoacán</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=15 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL6 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Morelos</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=16 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Nayarit</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=17 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Nuevo León</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=18 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL7 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Oaxaca</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=19 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Puebla</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=20 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Querétaro</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=21 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL8 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Quintana Roo</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=22 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en San Luis Potosí</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=23 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Sinaloa</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=24 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL9 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Sonora</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=25 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Tabasco</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=26 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Tamaulipas</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=27 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL10 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Tlaxcala</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=28 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Veracruz</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=29 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">
                            
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Yucatán</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=30 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- COL11 -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    El Directorio de México
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Agencias de Viaje en Zacatecas</h5>
                                  <a class="btn btn" id="llegar" href="{% url 'resfil' pk_estado=31 pk_categoria=3 %}"><i class="fa fa-plus"></i> Ver más</a>
                                </div>
                              </div>
                  
                        </div>
                        <div class="col-md-4">

                  
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
            <br>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
  
</div>


    <!-- /#wrapper -->
{%endblock%}

{%block scripts%}


{%endblock%}